{{>header}}
   <select id="selectLang">
        <option value="1" selected="selected">en</option>
        <option value="2" >ar</option>
    </select>  
<div class="row">
    {{#each data}}
        <div class="card col-md-10 mx-1 p-0">
             <a href="articles/{{this.id}}">
                <div class="card-body">
                    <h3>title is : {{this.title}}</h3>
                    <h5 class="card-title">{{this.content}}</h5>
                </div>
             </a>
        </div>
    {{/each}}
</div>
{{>footer}}


